body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* *****First Section -Start***** */

.first-content {
    height: 500px;
    margin-top: 70px;
}

.my-info {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.my-info h1 {
    font-size: 55px;
    border-left: 5px solid rgb(255, 68, 10);
    ;
    padding-left: 10px;
}

.heading-color {
    color: orange;
}

.head-paragraph {
    font-size: 20px;
}

.explore-btn {
    padding-top: 20px;
}

.explore-btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 45px;
    background-color: rgb(255, 68, 10);
    border-radius: 6px;
}

.scroll-paragraph {
    padding-top: 20px;
    font-size: 20px;
}

.my-info img {
    width: 66%;
}

/* *****Mission Section -Start*****  */
.mission h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.year-color {
    color: orange;
}

.mission {
    overflow: hidden;
}

.mission-item {
    width: 21%;
    float: left;
    margin-left: 1.4%;
    border-radius: 35px;
    padding: 37px;
}

.mission-item h3 {
    font-size: 27px;
}

.mission-item p {
    font-size: 18px;
}

.mission-item img {
    width: 50%;
}

.no-margin {
    margin-left: 10%;
    background-color: #EDF5F6;
}

.vission-bg {
    background-color: #FFEEEE;

}

.goals-bg {
    background-color: #FFF4D6;
}

/* *****Develop Section -Start***** */
#develop-bg {
    margin-left: 30px;
    height: 500px;
    background-image: url(img/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17%;
}

.develop-all {
    margin-top: 50px;
}

.develop-item {
    width: 40%;
    float: left;
    margin-left: 10px;
}

.develop-item img {
    margin-top: 30px;
    margin-left: 19%;
    width: 70%;
}

.margn {
    margin-left: 13px;
    margin-top: 65px;
}

.develop-item h3 {
    font-size: 40px;
    line-height: 20px;
}

.develop-item p {
    font-size: 18px;
    margin-bottom: 40px;
}

.develop-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 45px;
    background-color: rgb(255, 68, 10);
    border-radius: 6px;
}

/* *****community Section -Start***** */
.comunity-all {
    margin-top: 50px;
    margin-right: 69px;
    height: 488px;
    background-image: url(img/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 17%;
}

.comunity-item {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.comunity-item img {
    width: 70%;
    margin-left: 10%;
}

.comunity-item h3 {
    font-size: 40px;
    line-height: 20px;
}

.comunity-item p {
    font-size: 18px;
    margin-bottom: 40px;
}

.comunity-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 45px;
    background-color: rgb(255, 68, 10);
    border-radius: 6px;
}

/* *****client Section -Start***** */
.global-client {
    margin-left: 10%;
}

.review-head {
    font-size: 30px;
    text-align: center;
}

.no-mrgn {
    margin-left: 0;
}

.review-color {
    color: orange;
}

.client-item {
    width: 18%;
    float: left;
    margin-left: 2%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 20px;
}

.no-mrgn {
    margin: 0;
}

.client-item img {
    width: 48%;
    border-radius: 100%;
}

/* *****Footer Section -Start*****  */
.footer-item {
    margin-top: 60px;
    width: 100%;
    height: 200px;
    float: left;
    background-color: black;
    padding-top: 30px;
}

.footer-item p {
    color: white;
    text-align: center;
}

.footer-item h1 {
    color: white;
    text-align: center;
}

.mission-year {
    color: red;
}